body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
  width: 80%;
  margin: 0 auto;
  display: grid;
  justify-content: center;
}

button {
  height: 60px;
  width: 60px;
  border: none;
  border-radius: 10px;
  font-size: 32px;
  font-weight: 700;
}

button#addCounter {
  background-color: green;
  color: white;
}

button#decreaseCounter {
  background-color: red;
  color: white;
}

.counterValue {
  font-size: 40px;
  text-align: center;
}
