body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
  display: grid;
  justify-content: center;
  width: 80%;
  margin: 0 auto;
}

.colorBox {
  height: 300px;
  width: 300px;
  border: 2px solid black;
  border-radius: 5px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.color-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

button {
  height: 80px;
  width: 80px;
  border: none;
  border-radius: 10px;
  justify-self: center;
}
h1 {
  text-align: center;
}

#red {
  background-color: red;
}

#orange {
  background-color: orange;
}

#yellow {
  background-color: yellow;
}

#green {
  background-color: green;
}

#blue {
  background-color: blue;
}

#violet {
  background-color: violet;
}

#black {
  background-color: black;
}

#white {
  background-color: white;
  border: 1px solid black;
}
